<div class="bg-white rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 p-6 gap-4">
  <div class="flex justify-between items-start mb-4">
    <h3 class="text-xl font-bold text-gray-800"><%= @post.title %></h3>
    <h4 class="text-gray-500 font-medium"><%= @post.original_title %></h4>
    <h4 class="text-red-500 hover:text-red-700 font-medium"><%= @post.publishable_type  %></h4>
  </div>

  <div class="flex items-center text-sm text-gray-500 mb-4">
    <span class="mr-2">By <%= @post.authors.map(&:first_name).join(' • ') %></span>
    <span>|</span>
    <time datetime="<%= @post.created_at.iso8601 %>" class="ml-2">
      <%= l(@post.created_at, format: :long) %>
    </time>
  </div>


  <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-3 gap-4 text-sm">
    <% if !!@post.doi %>
      <div>
        <span class="text-gray-500">DOI:</span>
        <span class="text-gray-700"><%= @post.doi %></span>
      </div>
    <% end %>

    <% if !!@post.page_count %>
      <div>
        <span class="text-gray-500">Кол-во страниц:</span>
        <span class="text-gray-700"><%= @post.page_count %></span>
      </div>
    <% end %>

    <% if !!@post.journal_id %>
      <div>
        <span class="text-gray-500">Journal:</span>
        <span class="text-gray-700"><%= @post&.publishable_journal&.title %></span> | ISSN: <%= @post&.publishable_journal&.issn %>
      </div>
    <% end %>

    <% if !!@post.isbn %>
      <div>
        <span class="text-gray-500">ISBN:</span>
        <span class="text-gray-700"><%= @post.isbn %></span>
      </div>
    <% end %>

    <% if !!@post.publisher %>
      <div>
        <span class="text-gray-500">Publisher:</span>
        <span class="text-gray-700"><%= @post.publisher %></span>
      </div>
    <% end %>

    <% if !!@post.conference_name %>
      <div>
        <span class="text-gray-500">Название конференции:</span>
        <span class="text-gray-700"><%= @post.conference_name %></span>
      </div>
    <% end %>

    <% if !!@post.conference_place %>
      <div>
        <span class="text-gray-500">Место проведения конференции:</span>
        <span class="text-gray-700"><%= @post.conference_place %></span>
      </div>
    <% end %>
  </div>

<!--  <div class="items-end">-->
    <%#= link_to 'Редактировать', edit_post_path(@post), class: "btn-primary" %>
<!--  </div>-->
</div>
