<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Публикации" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container sm:w-full sm:max-w-full">
      <div class="m-auto w-full md:w-192">


        <nav class="shadow-lg">
          <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
              <div class="flex-shrink-0 flex items-center">
                <h1 class="text-white text-2xl font-bold tracking-tight">
                  <span class="bg-clip-text text-transparent bg-gradient-to-r from-indigo-400 to-purple-600">
                    Публикации
                  </span>
                </h1>
              </div>


              <% if authenticated? %>
                <div class="flex items-center space-x-4">
                  <%= button_to "Выйти", session_path, method: :delete, class: "px-4 py-2 text-sm font-medium text-white bg-red-600 hover:bg-red-700 rounded-md transition-colors" %>
                 </div>
              <% end %>

            </div>
          </div>
        </nav>

            <%= yield %>

      </div>
    </main>
  </body>
</html>
